
<div style="overflow: hidden;">
    <!-- Breadcrumb -->
    <div class="page-title-wrap" style="background-image: url(assets/img/media/page-title-bg.svg);">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="page-title text-white">
                      <span class="stroke-text">Biottendance</span>
                      <h1>About Us</h1>
                      <ul class="nav">
                          <li><a >Home</a></li>
                          <li class="active">About Us</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Breadcrumb -->

  <!-- About -->
  <section class="about pt-120 pb-90" style="background-image: url(assets/img/media/about_bg.png);">
      <div class="container">
          <div class="row align-items-center pb-100">
              <div class="col-lg-6">
                  <!-- Solution Image -->
                  <div class="about-img">
                      <img src="assets/img/media/about-img.png" data-rjs="2" alt="">
                  </div>
                  <!-- End Solution Image -->
              </div>
              <div class="col-lg-6">
                  <!-- Section Title -->
                  <div class="section-title style--two">
                      <h4>About Biottendance</h4>

                      <h2>Your simple solutions on your employeer.</h2>

                      <p>This system will enable you to be able to control working environment and also will able to reach informations direct to your employeers</p>

                      <p>Welcome to the world of efficiency.</p>
                  </div>
                  <!-- End Section Title -->
                  <div class="content" style="text-align: center;">
                    <h4>We work with</h4>
                </div>
                <div style="padding:10px;"></div>

                  <ul class="list-about list-unstyled">
                      <li>
                          <img src="assets/img/icons/goverment.png" data-rjs="2" alt="">
                          <p>Goverment</p>
                      </li>
                      <li>
                          <img src="assets/img/icons/corporation.png" data-rjs="2" alt="">
                          <p>Corporation</p>
                      </li>
                      <li>
                          <img src="assets/img/icons/hacker.png" data-rjs="2" alt="">
                          <p>New business</p>
                      </li>
                  </ul>
              </div>
          </div>

          <!-- Features -->
          <div class="content" style="text-align: center;">
            <h4>Why should you have this system</h4>
        </div>
        <div style="padding:10px"></div>
          <div class="features">
              <div class="row no-gutters-lg pattern-wrap">
                  <div class="col-lg-3 col-sm-6">
                      <!-- Single Feature -->
                      <div class="single-feature">
                          <img src="assets/img/icons/f1.png" alt="">
                          <h4>Increase accuracy of payroll</h4>
                          <p>A biometrics time attendance system will increase the accuracy of payroll in each and every pay period.

                            <!-- When attendance used to be kept using paperwork it would take hours to go over every single employee’s time sheet, and then enter it into the computer system to print checks.. -->
                          </p>

                          <a href="feature-details.html" class="btn-link">
                              <img src="assets/img/icons/btn-svg2.svg" alt="" class="svg">
                              Read More
                          </a>
                      </div>
                      <!-- End Single Feature -->
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <!-- Single Feature -->
                      <div class="single-feature feature-two">
                          <img src="assets/img/icons/f2.png" alt="">
                          <h4>Decrease burden on payroll department</h4>
                          <p>Along with increasing the accuracy of the payroll department, biometrics time attendance can also decrease the burden on a payroll department.</p>

                          <a href="feature-details.html" class="btn-link">
                              <img src="assets/img/icons/btn-svg2.svg" alt="" class="svg">
                              Read More
                          </a>
                      </div>
                      <!-- End Single Feature -->
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <!-- Single Feature -->
                      <div class="single-feature feature-three">
                          <img src="assets/img/icons/f3.png" alt="">
                          <h4>Eliminates time theft</h4>
                          <p>Companies have had trouble with time theft in the past and will likely have the same problems in the future if nothing is done.</p>

                          <a href="feature-details.html" class="btn-link">
                              <img src="assets/img/icons/btn-svg2.svg" alt="" class="svg">
                              Read More
                          </a>
                      </div>
                      <!-- End Single Feature -->
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <!-- Single Feature -->
                      <div class="single-feature feature-four">
                          <img src="assets/img/icons/f4.png" alt="">
                          <h4>Biometrics prevent buddy punching.</h4>
                          <p>The beauty of biometrics is that it prevents all ‘buddy punching’.

                            ‘Buddy punching’ used to be a major problem with companies when attendance was kept using time sheets or passwords to log into an online time clock.</p>

                          <a href="feature-details.html" class="btn-link">
                              <img src="assets/img/icons/btn-svg2.svg" alt="" class="svg">
                              Read More
                          </a>
                      </div>
                      <!-- End Single Feature -->
                  </div>
              </div>
          </div>
          <!-- End Features -->
      </div>
  </section>
  <!-- End About -->

  <!-- Vpn Work -->
  <section class="vpn-work pt-120 pb-90" style="background-image:url(assets/img/media/vpn_work_bg.png)">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <!-- Section Title -->
                  <div class="section-title text-white text-center">
                      <h2>How does biometric atttendace work?</h2>
                      <p>It takes a lot of moving parts, but it’s simple on your end. Here’s how it works <br />
                          your real IP address disappear so that your.</p>
                  </div>
                  <!-- End Section Title -->
              </div>
          </div>
          <div class="row">
              <div class="col-lg-3 col-sm-6">
                  <!-- Single Vpn Work -->
                  <div class="single-vpn-work">
                      <div class="img">
                          <img src="assets/img/icons/selfie_1.png" width="150" height="150" data-rjs="2" alt="">
                      </div>
                      <div class="content">
                          <h4>Connect your phone to a company wifi</h4>
                      </div>
                  </div>
                  <!-- End Single Vpn Work -->
              </div>
              <div class="col-lg-3 col-sm-6">
                <!-- Single Vpn Work -->
                <div class="single-vpn-work">
                    <div class="img">
                        <img src="assets/img/icons/vpn-work3.png" data-rjs="2" alt="">
                    </div>
                    <div class="content">
                        <h4>Launch Biottendance application</h4>
                    </div>
                </div>
                <!-- End Single Vpn Work -->
            </div>
              <div class="col-lg-3 col-sm-6">
                  <!-- Single Vpn Work -->
                  <div class="single-vpn-work">
                      <div class="img">
                          <img src="assets/img/icons/vpn-work2.png" data-rjs="2" alt="">
                      </div>
                      <div class="content">
                          <h4>Securely puch your finger or face recognition</h4>
                      </div>
                  </div>
                  <!-- End Single Vpn Work -->
              </div>

              <div class="col-lg-3 col-sm-6">
                  <!-- Single Vpn Work -->
                  <div class="single-vpn-work">
                      <div class="img style_2">
                          <img src="assets/img/icons/vpn-work4.png" data-rjs="2" alt="">
                      </div>
                      <div class="content">
                          <h4>Remain connected under the roof</h4>
                      </div>
                  </div>
                  <!-- End Single Vpn Work -->
              </div>
          </div>
      </div>
  </section>
  <!-- End Vpn Work -->

  <!-- Benefit -->
  <section class="benefit pt-120 pb-90" data-bg-img="assets/img/media/benefit_bg.png">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <!-- Section Title -->
                  <div class="section-title text-center">
                      <h2>Who can benefit from a Biottendance?</h2>
                      <p>The installation of fingerprint access control can help boost overall productivity while ensuring a business is safe and secure.<br />
                          </p>
                  </div>
                  <!-- End Section Title -->
              </div>
          </div>

          <div class="row">
              <div class="col-lg-4 col-sm-6">
                  <!-- Single Benefit -->
                  <div class="single-benefit">
                      <div class="img">
                          <img src="assets/img/icons/benefit1.svg" alt="" class="svg">
                      </div>
                      <div class="content">
                          <h4>A business with employees from one to several</h4>
                          <p>It takes local data and push them to the database for the eployer to understand time where his/her employeer attend to work.</p>

                          <a href="feature-details.html" class="btn-link"><img src="assets/img/icons/btn-svg2.svg" alt="" class="svg">Read More </a>
                      </div>
                  </div>
                  <!-- End Single Benefit -->
              </div>
              <div class="col-lg-4 col-sm-6">
                  <!-- Single Benefit -->
                  <div class="single-benefit active">
                      <div class="img">
                          <img width="50" height="30" src="assets/img/icons/benefit2.svg" alt="" class="svg">
                      </div>
                      <div class="content">
                          <h4>Team work</h4>
                          <p>This will enable team work efficiency where you will all be able to know where you are within working hours.</p>

                          <a href="feature-details.html" class="btn-link"><img src="assets/img/icons/btn-svg2.svg" alt="" class="svg">Read More </a>
                      </div>
                  </div>
                  <!-- End Single Benefit -->
              </div>
              <div class="col-lg-4 col-sm-6">
                  <!-- Single Benefit -->
                  <div class="single-benefit">
                      <div class="img">
                          <img width="50" height="30" src="assets/img/icons/benefit3.svg" alt="" class="svg">
                      </div>
                      <div class="content">
                          <h4>Private companies</h4>
                          <p>It takes a lot of energy to control each employeer in a company and this will easy your task by making attendance efficiently in a company.</p>

                          <a href="feature-details.html" class="btn-link"><img src="assets/img/icons/btn-svg2.svg" alt="" class="svg">Read More </a>
                      </div>
                  </div>
                  <!-- End Single Benefit -->
              </div>

          </div>
      </div>
  </section>
  <!-- End Benefit -->

  <!-- Testimonial -->
  <section class="testimonial section-bg pt-120 pb-120" style="background-image: url(assets/img/media/testimonial_bg.png);">
      <div class="container">
          <div class="row align-items-center justify-content-between">
              <div class="col-lg-4">
                  <div class="testimonial-left-content">
                      <!-- Section Title -->
                      <div class="section-title style--two">
                          <h4>Testimonials</h4>
                          <h2>What clients say</h2>
                          <p>It takes more than a private internet browser, thanks for the premium service.</p>
                      </div>
                      <!-- End Section Title -->

                      <!-- <a href="about.html" class="btn orange">Learn More <img src="assets/img/icons/btn-svg.svg" alt="" class="svg"></a> -->
                  </div>
              </div>

              <div class="col-lg-6">
                  <div class="testimonial-slider-wrap">
                      <img src="assets/img/media/testimonial-slider-bg.png" data-rjs="2" alt="">
                      <!-- Testimonial Slider -->
                      <div class="testimonial-slider owl-carousel" data-owl-nav="true" data-owl-autoplay="false">
                          <!-- Single Testimonial Slide -->
                          <div class="single-testimonial-slide">
                              <p>Pro VPN proprietary Hydra protocol deliver some the best download speeds we've seen even from the most distant locations</p>

                              <div class="meta-info">
                                  <div class="img">
                                      <img src="assets/img/media/client1.png" data-rjs="2" alt="">
                                  </div>
                                  <div class="content">
                                      <h5>Bobby Lee</h5>
                                      <p>TechRadar@CEO</p>
                                  </div>
                              </div>
                          </div>
                          <!-- End Single Testimonial Slide -->

                          <!-- Single Testimonial Slide -->
                          <div class="single-testimonial-slide">
                              <p>Pro VPN proprietary Hydra protocol deliver some the best download speeds we've seen even from the most distant locations</p>

                              <div class="meta-info">
                                  <div class="img">
                                      <img src="assets/img/media/client2.png" data-rjs="2" alt="">
                                  </div>
                                  <div class="content">
                                      <h5>Bobby Lee</h5>
                                      <p>TechRadar@CEO</p>
                                  </div>
                              </div>
                          </div>
                          <!-- End Single Testimonial Slide -->

                          <!-- Single Testimonial Slide -->
                          <div class="single-testimonial-slide">
                              <p>Pro VPN proprietary Hydra protocol deliver some the best download speeds we've seen even from the most distant locations</p>

                              <div class="meta-info">
                                  <div class="img">
                                      <img src="assets/img/media/client3.png" data-rjs="2" alt="">
                                  </div>
                                  <div class="content">
                                      <h5>Bobby Lee</h5>
                                      <p>TechRadar@CEO</p>
                                  </div>
                              </div>
                          </div>
                          <!-- End Single Testimonial Slide -->
                      </div>
                      <!-- End Testimonial Slider -->
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- End Testimonial -->

  <!-- Team -->
  <section class="team pt-120 pb-70">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <!-- Section Title -->
                  <div class="section-title text-center">
                      <h2>Our Service Team</h2>
                      <p>Data thieves look for unprotected devices, and those that do not use encryption <br />
                          are easy targets. It is easy for advertisers to influence</p>
                  </div>
                  <!-- End Section Title -->
              </div>
          </div>

          <div class="row justify-content-center">
              <div class="col-lg-4 col-sm-6">
                  <!-- Single Team -->
                  <div class="single-team">
                      <div class="img">
                          <img src="assets/img/media/team1.png" data-rjs="2" alt="">

                          <div class="team-socials">
                              <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                              <a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                              <a href="https://linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                              <a href="#"><img src="assets/img/icons/share.svg" alt="" class="svg"></a>
                          </div>
                      </div>
                      <div class="content">
                          <h4>Leo Alexander</h4>
                          <p>Chief Officer</p>
                      </div>
                  </div>
                  <!-- End Single Team -->
              </div>
              <div class="col-lg-4 col-sm-6">
                  <!-- Single Team -->
                  <div class="single-team">
                      <div class="img">
                          <img src="assets/img/media/team2.png" data-rjs="2" alt="">

                          <div class="team-socials">
                              <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                              <a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                              <a href="https://linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                              <a href="#"><img src="assets/img/icons/share.svg" alt="" class="svg"></a>
                          </div>
                      </div>
                      <div class="content">
                          <h4>Lewis Wanjara</h4>
                          <p>Senior manager</p>
                      </div>
                  </div>
                  <!-- End Single Team -->
              </div>
              <div class="col-lg-4 col-sm-6">
                  <!-- Single Team -->
                  <div class="single-team">
                      <div class="img">
                          <img src="assets/img/media/team3.png" data-rjs="2" alt="">

                          <div class="team-socials">
                              <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                              <a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                              <a href="https://linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                              <a href="#"><img src="assets/img/icons/share.svg" alt="" class="svg"></a>
                          </div>
                      </div>
                      <div class="content">
                          <h4>Giant Cherry</h4>
                          <p>Co Founder</p>
                      </div>
                  </div>
                  <!-- End Single Team -->
              </div>
          </div>
      </div>
  </section>
  <!-- End Team -->

  <!-- Partner -->
  <section class="partner" style="background-image:url(assets/img/media/partner_bg.png)">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <!-- Section Title -->
                  <div class="section-title text-white text-center">
                      <h2>Our Partner</h2>
                      <p>It takes a lot of moving parts, but it’s simple on your end. Here’s how it <br />
                          works your real IP address disappear so that your.</p>
                  </div>
                  <!-- End Section Title -->
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <div class="partner-wrap">
                      <!-- Single Partner -->
                      <div class="single-partner">
                          <img src="assets/img/media/partner1.png" data-rjs="2" alt="">
                      </div>
                      <!-- End Single Partner -->

                      <!-- Single Partner -->
                      <div class="single-partner">
                          <img src="assets/img/media/partner2.png" data-rjs="2" alt="">
                      </div>
                      <!-- End Single Partner -->

                      <!-- Single Partner -->
                      <div class="single-partner">
                          <img src="assets/img/media/partner3.png" data-rjs="2" alt="">
                      </div>
                      <!-- End Single Partner -->

                      <!-- Single Partner -->
                      <div class="single-partner">
                          <img src="assets/img/media/partner4.png" data-rjs="2" alt="">
                      </div>
                      <!-- End Single Partner -->

                      <!-- Single Partner -->
                      <div class="single-partner">
                          <img src="assets/img/media/partner2.png" data-rjs="2" alt="">
                      </div>
                      <!-- End Single Partner -->
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- End Partner -->

  <!-- Private Network -->
  <section class="private-network section-bg pt-120 pb-120" style="background-image: url(assets/img/media/private_network_bg.png)">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <!-- Section Title -->
                  <div class="section-title text-center">
                      <h2>Private Network</h2>
                      <p>It takes more than a private internet browser to go incognito. We’ll make <br />
                          your real IP address disappear so that your.</p>
                  </div>
                  <!-- End Section Title -->
              </div>
          </div>

          <div class="row justify-content-between">
              <div class="col-lg-5">
                  <ul class="nav private-network-nav" role="tablist">
                      <li class="nav-item">
                          <a data-toggle="tab" href="#questions" role="tab">
                              <h5><img src="assets/img/icons/question.svg" class="svg" alt="">Frequently Asked Questions</h5>
                              <p>Secured access all the content you love. Hide your real
                                  don’t log what you view online.</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="active" data-toggle="tab" href="#layout" role="tab">
                              <h5><img src="assets/img/icons/global.svg" class="svg" alt="">Global Layouts.</h5>
                              <p>Secured access all the content you love. Hide your real
                                  don’t log what you view online.</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a data-toggle="tab" href="#vpn" role="tab">
                              <h5><img src="assets/img/icons/key.svg" class="svg" alt="">Access to world’s fastest VPN</h5>
                              <p>Secured access all the content you love. Hide your real
                                  don’t log what you view online.</p>
                          </a>
                      </li>
                  </ul>
              </div>
              <div class="col-lg-6">
                  <div class="tab-content">
                      <div class="tab-pane fade" id="questions" role="tabpanel">
                          <div class="private-network-content">
                              <!-- Accordion -->
                              <div class="accordion">
                                  <div data-accordion-tab="toggle" class="active">
                                      <h3>What is Biometric Attendance System?</h3>
                                      <div class="accordion-content">
                                        Biometric Attendance Systems are the devices which help in recording the precise Clock
                                         In and Out timings of the employees working in a company. Using the old manual methods
                                          for attendance is time-consuming and not accurate all the time. There can be a chance of
                                           time theft by the employees.
                                      </div>
                                  </div>
                                  <div data-accordion-tab="toggle">
                                      <h3>How does the Biometric Attendance System Work?</h3>
                                      <div class="accordion-content">
                                        The working mechanism of the Biometric Attendance System is very effective and hence it has become very popular in the world
                                         of business. It is very accurate in recording the time and attendance of the employees, it also eliminates the time
                                          theft done by the employees.
                                      </div>
                                  </div>
                                  <div data-accordion-tab="toggle">
                                      <h3>What is Biometric Attendance Machine?</h3>
                                      <div class="accordion-content">
                                        Biometric attendance Machine is an identification and authentication device which helps in verifying
                                         the identity of a person. It uses the physical characteristics of the person and hence the rate of the accuracy of
                                          these machines are very high. There are different types of biometric attendance machines which uses
                                         the different physical characteristics to recognize the true identity of the person.
                                          These characteristics include fingerprint, facial image, voice and iris recognition.
                                      </div>
                                  </div>
                                  <div data-accordion-tab="toggle">
                                      <h3>What are the benefits of the Biometric Attendance System?</h3>
                                      <div class="accordion-content">
                                        In workforce management, biometric attendance system is gaining popularity day by day.
                                         The list of the advantages of biometric is very huge. It eliminates the chances of time theft
                                          done by the employees and increases the security
                                         as well as accuracy. It is far better than the old paperwork methods.
                                          It reduces the extra expenses of the company by eliminating the use of papers.
                                      </div>
                                  </div>
                              </div>
                              <!-- End Accordion -->
                          </div>
                      </div>
                      <div class="tab-pane fade show active" id="layout" role="tabpanel">
                          <div class="private-network-content">
                              <h3>Global Layouts</h3>

                              <p>Deduplication of identity records. To ensure that each person in a database is unique, </p>

                              <p>Encrypt your web traffic with military-grade encryption to stay safe from
                                  we don’t log what you view online.</p>


                              <a href="feature-details.html" class="btn btn-default orange">Read More <img src="assets/img/icons/btn-svg.svg" alt="" class="svg"></a>
                          </div>
                      </div>
                      <div class="tab-pane fade" id="vpn" role="tabpanel">
                          <div class="private-network-content">
                              <h3>Access to world’s fastest Biometric system</h3>

                              <p>ID systems can use biometric identification to perform a duplicate biometric enrollment check.
                                 This involves comparing a template generated from a captured biometric against all or a subset of templates stored in biometric database
                                to detect a duplicate registration (a 1:N search), after which the new template
                                is added to the database. This process involves automation as well as manual checks
                                 to adjudicate matches.
                                </p>

                              <p>Encrypt your web traffic with military-grade encryption to stay safe from
                                  we don’t log what you view online.</p>

                              <div class="images">
                                  <img src="assets/img/media/flag1.png" data-rjs="2" alt="">
                                  <img src="assets/img/media/flag2.png" data-rjs="2" alt="">
                                  <img src="assets/img/media/flag3.png" data-rjs="2" alt="">
                                  <img src="assets/img/media/flag4.png" data-rjs="2" alt="">
                                  <img src="assets/img/media/flag5.png" data-rjs="2" alt="">
                                  <img src="assets/img/media/flag6.png" data-rjs="2" alt="">
                              </div>

                              <a href="price.html" class="btn btn-default orange">Get Biottendance <img src="assets/img/icons/btn-svg.svg" alt="" class="svg"></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- End Private Network -->


</div>
