

    <!-- Breadcrumb -->
    <div class="page-title-wrap" data-bg-img="assets/img/media/page-title-bg.png">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="page-title text-white">
                      <span class="stroke-text">Biottendance</span>
                      <h1>Login</h1>
                      <ul class="nav">
                          <li><a href="index-2.html">Home</a></li>
                          <li class="active">Login</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Breadcrumb -->

  <!-- Login -->
  <div class="pt-120 pb-120 d-flex align-items-center">
      <div class="container">
          <!-- Card -->
          <div class="card justify-content-center">
              <div class="row justify-content-center">
                  <div class="col-xl-7 col-lg-9">
                      <form action="#">
                          <!-- Form Group -->
                          <div class="form-group mb-20">
                              <label for="email" class="mb-2 semi-bold black">Email Address</label>
                              <input type="email" id="email" class="form-control" placeholder="Email Address">
                          </div>
                          <!-- End Form Group -->

                          <!-- Form Group -->
                          <div class="form-group mb-20">
                              <label for="password" class="mb-2 semi-bold black">Password</label>
                              <input type="password" id="password" class="form-control" placeholder="********">
                          </div>
                          <!-- End Form Group -->

                          <div class="d-flex justify-content-between mb-20">
                              <div class="d-flex align-items-center">
                                  <input type="checkbox" id="checkbox">
                                  <label for="checkbox" class="mb-0 ml-2">Remember Me {{count$ | async}}</label>
                              </div>

                              <a href="forget-pass.html">Forgot Password?</a>
                          </div>

                          <div class="mb-30">
                              <a href="#" class="light-btn mr-3 mb-20">Log In With Facebook</a>
                              <a href="#" class="light-btn mb-20">Log In With Gmail</a>
                          </div>

                          <div class="d-flex align-items-center">
                              <button type="submit" class="btn orange">Log In <img src="assets/img/icons/btn-svg.svg" alt="" class="svg"></button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          <!-- End Card -->
      </div>
  </div>
  <!-- End Login -->
