
    <!-- Preloader -->
    <!-- <div class="preloader">
      <div class="loader-circle">
          <div class="loader-line-mask">
              <div class="loader-line"></div>
          </div>
          <div class="content">Pro</div>
      </div>
  </div> -->
  <!-- End Preloader -->



  <!-- Banner -->
  <div class="banner laye" style="background-color: #0A90FF; background-image: url(assets/img/media/banner_bg.png);">vc
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6">
                  <!-- Banner Content -->
                  <div class="banner-content">
                      <span class="stroke-text" style="margin-top: -50px;">Biottendance</span>
                      <h1>your <span>simple</span> solution for your business.</h1>
                      <p class="enable-border">Wireless biometric time and attendance systems have become popular in the business world today when it comes to tracking employees and their attendance.</p>

                      <a href="price.html" class="btn btn-lg">Get Start Now <img src="assets/img/icons/btn-svg.svg" alt="" class="svg"></a>
                  </div>
                  <!-- End Banner Content -->
              </div>
              <div class="col-lg-6">
                  <!-- Banner IMG -->
                  <div class="banner-img d-none d-xl-block">
                      <img src="assets/img/media/banner-img.png" alt="main img" data-rjs="2" class="main-img">
                      <img src="assets/img/media/cloud.png" alt="Shield" data-rjs="2" class="cloud-img">
                      <img src="assets/img/icons/SVG/fingerprint1.svg" alt="Man1" data-rjs="2" class="man1" width="100" height="100">
                      <img src="assets/img/media/man2.png" alt="Man2" data-rjs="2" class="man2">
                      <img src="assets/img/media/setting.png" alt="setting" data-rjs="2" class="setting">
                      <img src="assets/img/media/check.png" alt="Check" data-rjs="2" class="check">
                      <img src="assets/img/media/check.png" alt="Check" data-rjs="2" class="check check2">
                  </div>
                  <!-- End Banner IMG -->

                  <!-- Banner IMG Responsive -->
                  <div class="banner-img-responsive d-block d-xl-none">
                      <img src="assets/img/media/banner_img_full.png" data-rjs="2" alt="">
                  </div>
                  <!-- End Banner IMG Responsive -->
              </div>
          </div>
      </div>
  </div>
  <!-- End Banner -->

  <!-- Customer Service -->
  <section class="pt-120 pb-120" style="background:url(assets/img/media/cs_bg.png)">
      <div class="container">
          <div class="row align-items-center pb-100">
              <div class="col-lg-6">
                  <!-- Image -->
                  <div class="customer-service-img">
                      <img src="assets/img/media/cs1.png" data-rjs="2" alt="">
                  </div>
                  <!-- End Image -->
              </div>
              <div class="col-lg-6">
                  <!-- Section Title -->
                  <div class="section-title style--two">
                      <h4>Customer Services</h4>
                      <h2>Get fasts secure access <br /> best customer service</h2>
                      <p>Strive not to be a success, but rather to be of value. Hence we value our customers and we listen.</p>
                  </div>
                  <!-- End Section Title -->

                  <ul class="customer-service-list list-unstyled">
                      <li class="media">
                          <div class="img mr-4">
                              <img src="assets/img/media/css1.png" data-rjs="2" alt="">
                          </div>
                          <div class="content media-body">
                              <h3>Secure Access</h3>
                              <p>Secured access all the content you love make sure locations
                              private and your sensitive data.</p>
                          </div>
                      </li>
                      <li class="media">
                          <div class="img mr-4">
                              <img src="assets/img/media/css2.png" data-rjs="2" alt="">
                          </div>
                          <div class="content media-body">
                              <h3>Fast Internet</h3>
                              <p>Internet access all the content you love make sure locations
                              private and your sensitive data.</p>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>

          <div class="row pb-100">
              <div class="col-12 text-center">
                  <img src="assets/img/media/service-seperator.png" alt="">
              </div>
          </div>

          <div class="row align-items-center pb-100">
              <div class="col-lg-6 order-1 order-lg-0">
                  <!-- Section Title -->
                  <div class="section-title style--two">
                      <h4>Mobile Capabilities</h4>
                      <h2>Browse with the  Points with <br />Site experts</h2>
                      <p>Biometric systems have mobile capabilities,
                         which means employees who are out of the office can still clock
                         in and out while on the road. </p>
                  </div>
                  <!-- End Section Title -->

                  <ul class="customer-service-list list-unstyled">
                      <li class="media">
                          <div class="img mr-4">
                              <img src="assets/img/media/css1.png" data-rjs="2" alt="">
                          </div>
                          <div class="content media-body">
                              <h3>Site Experts</h3>
                              <p>You will be able to mack the position of the employee on site</p>
                          </div>
                      </li>
                      <li class="media">
                          <div class="img mr-4">
                              <img src="assets/img/media/css2.png" data-rjs="2" alt="">
                          </div>
                          <div class="content media-body">
                              <h3>Browse Point locations</h3>
                              <p>Pin point the positions you want to be kept remembered</p>
                          </div>
                      </li>
                  </ul>
              </div>
              <div class="col-lg-6 order-0 order-lg-1">
                  <!-- Image -->
                  <div class="customer-service-img right text-lg-right">
                      <img src="assets/img/media/cs2.png" data-rjs="2" alt="">
                  </div>
                  <!-- End Image -->
              </div>
          </div>

          <div class="row pb-100">
              <div class="col-12 text-center">
                  <img src="assets/img/media/service-seperator.png" alt="">
              </div>
          </div>

          <div class="row align-items-center">
              <div class="col-lg-6">
                  <!-- Image -->
                  <div class="customer-service-img">
                      <img src="assets/img/media/cs3.png" data-rjs="2" alt="">
                  </div>
                  <!-- End Image -->
              </div>
              <div class="col-lg-6">
                  <!-- Section Title -->
                  <div class="section-title style--two">
                      <h4>Security</h4>
                      <h2>Stop your personal <br /> information</h2>
                      <p>This is perfect for companies where employees are constantly
                         in company vehicles making deliveries
                         or house calls for repairs. You will be able to track their time
                          on the job and make sure the employees are not abusing the timeclock
                           since they are away from management’s eyes</p>
                  </div>
                  <!-- End Section Title -->

                  <ul class="customer-service-list list-unstyled">
                      <li class="media">
                          <div class="img mr-4">
                              <img src="assets/img/media/css1.png" data-rjs="2" alt="">
                          </div>
                          <div class="content media-body">
                              <h3>Hidden privillage</h3>
                              <p>Administrator are given more privillage to show and hide some of the services to their users.</p>
                          </div>
                      </li>
                      <li class="media">
                          <div class="img mr-4">
                              <img src="assets/img/media/css2.png" data-rjs="2" alt="">
                          </div>
                          <div class="content media-body">
                              <h3>Save browse History</h3>
                              <p>get back up history of your employeer and get the working data history.</p>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
  <!-- End Customer Service -->




  <!-- Private Network -->
  <section class="private-network section-bg pt-120 pb-120" style="background-image: url(assets/img/media/private_network_bg.png)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Title -->
                <div class="section-title text-center">
                    <h2>Private Network</h2>
                    <p>It takes more than a private internet browser to go incognito. We’ll make <br />
                        your real IP address disappear so that your.</p>
                </div>
                <!-- End Section Title -->
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-lg-5">
                <ul class="nav private-network-nav" role="tablist">
                    <li class="nav-item">
                        <a data-toggle="tab" href="#questions" role="tab">
                            <h5><img src="assets/img/icons/question.svg" class="svg" alt="">Frequently Asked Questions</h5>
                            <p>Secured access all the content you love. Hide your real
                                don’t log what you view online.</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="active" data-toggle="tab" href="#layout" role="tab">
                            <h5><img src="assets/img/icons/global.svg" class="svg" alt="">Global Layouts.</h5>
                            <p>Secured access all the content you love. Hide your real
                                don’t log what you view online.</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#vpn" role="tab">
                            <h5><img src="assets/img/icons/key.svg" class="svg" alt="">Access to world’s fastest VPN</h5>
                            <p>Secured access all the content you love. Hide your real
                                don’t log what you view online.</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="tab-content">
                    <div class="tab-pane fade" id="questions" role="tabpanel">
                        <div class="private-network-content">
                            <!-- Accordion -->
                            <div class="accordion">
                                <div data-accordion-tab="toggle" class="active">
                                    <h3>What is Biometric Attendance System?</h3>
                                    <div class="accordion-content">
                                      Biometric Attendance Systems are the devices which help in recording the precise Clock
                                       In and Out timings of the employees working in a company. Using the old manual methods
                                        for attendance is time-consuming and not accurate all the time. There can be a chance of
                                         time theft by the employees.
                                    </div>
                                </div>
                                <div data-accordion-tab="toggle">
                                    <h3>How does the Biometric Attendance System Work?</h3>
                                    <div class="accordion-content">
                                      The working mechanism of the Biometric Attendance System is very effective and hence it has become very popular in the world
                                       of business. It is very accurate in recording the time and attendance of the employees, it also eliminates the time
                                        theft done by the employees.
                                    </div>
                                </div>
                                <div data-accordion-tab="toggle">
                                    <h3>What is Biometric Attendance Machine?</h3>
                                    <div class="accordion-content">
                                      Biometric attendance Machine is an identification and authentication device which helps in verifying
                                       the identity of a person. It uses the physical characteristics of the person and hence the rate of the accuracy of
                                        these machines are very high. There are different types of biometric attendance machines which uses
                                       the different physical characteristics to recognize the true identity of the person.
                                        These characteristics include fingerprint, facial image, voice and iris recognition.
                                    </div>
                                </div>
                                <div data-accordion-tab="toggle">
                                    <h3>What are the benefits of the Biometric Attendance System?</h3>
                                    <div class="accordion-content">
                                      In workforce management, biometric attendance system is gaining popularity day by day.
                                       The list of the advantages of biometric is very huge. It eliminates the chances of time theft
                                        done by the employees and increases the security
                                       as well as accuracy. It is far better than the old paperwork methods.
                                        It reduces the extra expenses of the company by eliminating the use of papers.
                                    </div>
                                </div>
                            </div>
                            <!-- End Accordion -->
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="layout" role="tabpanel">
                        <div class="private-network-content">
                            <h3>Global Layouts</h3>

                            <p>Deduplication of identity records. To ensure that each person in a database is unique, </p>

                            <p>Encrypt your web traffic with military-grade encryption to stay safe from
                                we don’t log what you view online.</p>


                            <a href="feature-details.html" class="btn btn-default orange">Read More <img src="assets/img/icons/btn-svg.svg" alt="" class="svg"></a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="vpn" role="tabpanel">
                        <div class="private-network-content">
                            <h3>Access to world’s fastest Biometric system</h3>

                            <p>ID systems can use biometric identification to perform a duplicate biometric enrollment check.
                               This involves comparing a template generated from a captured biometric against all or a subset of templates stored in biometric database
                              to detect a duplicate registration (a 1:N search), after which the new template
                              is added to the database. This process involves automation as well as manual checks
                               to adjudicate matches.
                              </p>

                            <p>Encrypt your web traffic with military-grade encryption to stay safe from
                                we don’t log what you view online.</p>

                            <div class="images">
                                <img src="assets/img/media/flag1.png" data-rjs="2" alt="">
                                <img src="assets/img/media/flag2.png" data-rjs="2" alt="">
                                <img src="assets/img/media/flag3.png" data-rjs="2" alt="">
                                <img src="assets/img/media/flag4.png" data-rjs="2" alt="">
                                <img src="assets/img/media/flag5.png" data-rjs="2" alt="">
                                <img src="assets/img/media/flag6.png" data-rjs="2" alt="">
                            </div>

                            <a href="price.html" class="btn btn-default orange">Get Biottendance <img src="assets/img/icons/btn-svg.svg" alt="" class="svg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <!-- End Private Network -->

  <!-- Call To Action -->
  <section class="cta" style="background-image:url(assets/img/media/cta-bg.png)">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8">
                  <!-- Cta Content -->
                  <div class="cta-content text-center text-white">
                      <h2>Ready to get Biottendance?</h2>
                      <div class="cta-socials">
                          <h5>Available on:</h5>
                          <a href="#"><img src="assets/img/icons/apple.svg" alt="" class="svg"></a>
                          <a href="#"><img src="assets/img/icons/android.svg" alt="" class="svg"></a>
                          <a href="#"><img src="assets/img/icons/safari.svg" alt="" class="svg"></a>
                          <a href="#"><img src="assets/img/icons/windows.svg" alt="" class="svg"></a>
                          <a href="#"><img src="assets/img/icons/chrome.svg" alt="" class="svg"></a>
                      </div>
                      <a href="price.html" class="btn btn-default orange">Get Started Now <img src="assets/img/icons/btn-svg.svg" alt="" class="svg"></a>
                  </div>
                  <!-- End Cta Content -->
              </div>
          </div>
      </div>
  </section>
  <!-- End Call To Action -->

  <!-- Testimonial -->
  <section class="testimonial pt-120 pb-120" style="background-image:url(assets/img/media/testimonial_bg.png)">
      <div class="container">
          <div class="row align-items-center justify-content-between">
              <div class="col-lg-4">
                  <div class="testimonial-left-content">
                      <!-- Section Title -->
                      <div class="section-title style--two">
                          <h4>Testimonials</h4>
                          <h2>What clients say</h2>
                          <p>It takes more than a private internet browser it incognito. We’ll make real IP address disappear online activity can’t be tracked.</p>
                      </div>
                      <!-- End Section Title -->

                      <a href="about.html" class="btn orange">Learn More <img src="assets/img/icons/btn-svg.svg" alt="" class="svg"></a>
                  </div>
              </div>

              <div class="col-lg-6">
                  <div class="testimonial-slider-wrap">
                      <img src="assets/img/media/testimonial-slider-bg.png" data-rjs="2" alt="">
                      <!-- Testimonial Slider -->
                      <div class="testimonial-slider owl-carousel" data-owl-nav="true" data-owl-autoplay="false">
                          <!-- Single Testimonial Slide -->
                          <div class="single-testimonial-slide">
                              <p>Pro VPN proprietary Hydra protocol deliver some the best download speeds we've seen even from the most distant locations</p>

                              <div class="meta-info">
                                  <div class="img">
                                      <img src="assets/img/media/client1.png" data-rjs="2" alt="">
                                  </div>
                                  <div class="content">
                                      <h5>Bobby Lee</h5>
                                      <p>TechRadar@CEO</p>
                                  </div>
                              </div>
                          </div>
                          <!-- End Single Testimonial Slide -->

                          <!-- Single Testimonial Slide -->
                          <div class="single-testimonial-slide">
                              <p>Pro VPN proprietary Hydra protocol deliver some the best download speeds we've seen even from the most distant locations</p>

                              <div class="meta-info">
                                  <div class="img">
                                      <img src="assets/img/media/client2.png" data-rjs="2" alt="">
                                  </div>
                                  <div class="content">
                                      <h5>Bobby Lee</h5>
                                      <p>TechRadar@CEO</p>
                                  </div>
                              </div>
                          </div>
                          <!-- End Single Testimonial Slide -->

                          <!-- Single Testimonial Slide -->
                          <div class="single-testimonial-slide">
                              <p>Pro VPN proprietary Hydra protocol deliver some the best download speeds we've seen even from the most distant locations</p>

                              <div class="meta-info">
                                  <div class="img">
                                      <img src="assets/img/media/client3.png" data-rjs="2" alt="">
                                  </div>
                                  <div class="content">
                                      <h5>Bobby Lee</h5>
                                      <p>TechRadar@CEO</p>
                                  </div>
                              </div>
                          </div>
                          <!-- End Single Testimonial Slide -->
                      </div>
                      <!-- End Testimonial Slider -->
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- End Testimonial -->


