
    <!-- Preloader -->
    <!-- <div class="preloader">
      <div class="loader-circle">
          <div class="loader-line-mask">
              <div class="loader-line"></div>
          </div>
          <div class="content">Pro</div>
      </div>
  </div> -->
  <!-- End Preloader -->



  <!-- Banner -->
  <div class="banner laye" style="background-image: url(assets/img/media/banner_bg.png);">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6">
                  <!-- Banner Content -->
                  <div class="banner-content">
                      <span class="stroke-text" style="margin-top: -50px;">Biottendance</span>
                      <h1>your <span>simple</span> solution for your business.</h1>
                      <p class="enable-border">Easiest way of reporting to work
                          High-speed Pro_VPN that safeguards your Privet privacy.</p>

                      <a href="price.html" class="btn btn-lg">Get Start Now <img src="assets/img/icons/btn-svg.svg" alt="" class="svg"></a>
                  </div>
                  <!-- End Banner Content -->
              </div>
              <div class="col-lg-6">
                  <!-- Banner IMG -->
                  <div class="banner-img d-none d-xl-block">
                      <img src="assets/img/media/banner-img.png" alt="main img" data-rjs="2" class="main-img">
                      <img src="assets/img/media/cloud.png" alt="Shield" data-rjs="2" class="cloud-img">
                      <img src="assets/img/icons/SVG/fingerprint1.svg" alt="Man1" data-rjs="2" class="man1" width="100" height="100">
                      <img src="assets/img/media/man2.png" alt="Man2" data-rjs="2" class="man2">
                      <img src="assets/img/media/setting.png" alt="setting" data-rjs="2" class="setting">
                      <img src="assets/img/media/check.png" alt="Check" data-rjs="2" class="check">
                      <img src="assets/img/media/check.png" alt="Check" data-rjs="2" class="check check2">
                  </div>
                  <!-- End Banner IMG -->

                  <!-- Banner IMG Responsive -->
                  <div class="banner-img-responsive d-block d-xl-none">
                      <img src="assets/img/media/banner_img_full.png" data-rjs="2" alt="">
                  </div>
                  <!-- End Banner IMG Responsive -->
              </div>
          </div>
      </div>
  </div>
  <!-- End Banner -->

  <!-- Customer Service -->
  <section class="pt-120 pb-120" style="background:url(assets/img/media/cs_bg.png)">
      <div class="container">
          <div class="row align-items-center pb-100">
              <div class="col-lg-6">
                  <!-- Image -->
                  <div class="customer-service-img">
                      <img src="assets/img/media/cs1.png" data-rjs="2" alt="">
                  </div>
                  <!-- End Image -->
              </div>
              <div class="col-lg-6">
                  <!-- Section Title -->
                  <div class="section-title style--two">
                      <h4>Customer Services</h4>
                      <h2>Get fasts secure access <br /> best internet</h2>
                      <p>Your real IP address disappear so that your online activity can’t be tracke
                          Our strict zero log policy keeps your identity under wrap. order preserve
                          your privacy, we’ll never record your activity.</p>
                  </div>
                  <!-- End Section Title -->

                  <ul class="customer-service-list list-unstyled">
                      <li class="media">
                          <div class="img mr-4">
                              <img src="assets/img/media/css1.png" data-rjs="2" alt="">
                          </div>
                          <div class="content media-body">
                              <h3>Secure Access</h3>
                              <p>Secured access all the content you love make sure locations
                              private and your sensitive data.</p>
                          </div>
                      </li>
                      <li class="media">
                          <div class="img mr-4">
                              <img src="assets/img/media/css2.png" data-rjs="2" alt="">
                          </div>
                          <div class="content media-body">
                              <h3>Fast Internet</h3>
                              <p>Internet access all the content you love make sure locations
                              private and your sensitive data.</p>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>

          <div class="row pb-100">
              <div class="col-12 text-center">
                  <img src="assets/img/media/service-seperator.png" alt="">
              </div>
          </div>

          <div class="row align-items-center pb-100">
              <div class="col-lg-6 order-1 order-lg-0">
                  <!-- Section Title -->
                  <div class="section-title style--two">
                      <h4>Customer Services</h4>
                      <h2>Browse with the fastest <br /> verify expert</h2>
                      <p>Your real IP address disappear so that your online activity can’t be tracke
                          Our strict zero log policy keeps your identity under wrap. order preserve
                          your privacy, we’ll never record your activity.</p>
                  </div>
                  <!-- End Section Title -->

                  <ul class="customer-service-list list-unstyled">
                      <li class="media">
                          <div class="img mr-4">
                              <img src="assets/img/media/css1.png" data-rjs="2" alt="">
                          </div>
                          <div class="content media-body">
                              <h3>Verified Experts</h3>
                              <p>Secured access all the content you love make sure locations
                              private and your sensitive data.</p>
                          </div>
                      </li>
                      <li class="media">
                          <div class="img mr-4">
                              <img src="assets/img/media/css2.png" data-rjs="2" alt="">
                          </div>
                          <div class="content media-body">
                              <h3>Browse World-Wide</h3>
                              <p>Internet access all the content you love make sure locations
                              private and your sensitive data.</p>
                          </div>
                      </li>
                  </ul>
              </div>
              <div class="col-lg-6 order-0 order-lg-1">
                  <!-- Image -->
                  <div class="customer-service-img right text-lg-right">
                      <img src="assets/img/media/cs2.png" data-rjs="2" alt="">
                  </div>
                  <!-- End Image -->
              </div>
          </div>

          <div class="row pb-100">
              <div class="col-12 text-center">
                  <img src="assets/img/media/service-seperator.png" alt="">
              </div>
          </div>

          <div class="row align-items-center">
              <div class="col-lg-6">
                  <!-- Image -->
                  <div class="customer-service-img">
                      <img src="assets/img/media/cs3.png" data-rjs="2" alt="">
                  </div>
                  <!-- End Image -->
              </div>
              <div class="col-lg-6">
                  <!-- Section Title -->
                  <div class="section-title style--two">
                      <h4>Customer Services</h4>
                      <h2>Stop our personal <br /> information</h2>
                      <p>Your real IP address disappear so that your online activity can’t be tracke
                          Our strict zero log policy keeps your identity under wrap. order preserve
                          your privacy, we’ll never record your activity.</p>
                  </div>
                  <!-- End Section Title -->

                  <ul class="customer-service-list list-unstyled">
                      <li class="media">
                          <div class="img mr-4">
                              <img src="assets/img/media/css1.png" data-rjs="2" alt="">
                          </div>
                          <div class="content media-body">
                              <h3>Hidden Privacy</h3>
                              <p>Secured access all the content you love make sure locations
                              private and your sensitive data.</p>
                          </div>
                      </li>
                      <li class="media">
                          <div class="img mr-4">
                              <img src="assets/img/media/css2.png" data-rjs="2" alt="">
                          </div>
                          <div class="content media-body">
                              <h3>Save browse History</h3>
                              <p>Internet access all the content you love make sure locations
                              private and your sensitive data.</p>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
  <!-- End Customer Service -->

  <!-- Video Section -->
  <div class="video-section" style="background-image: url(assets/img/media/video_bg.png)">
      <div class="container">
          <div class="row">
              <div class="col">
                  <div class="text-center">
                      <a href="https://www.youtube.com/watch?v=ni5hRK1ehzk" class="mfp-iframe video-btn"><i class="fa fa-play"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Video Section -->

  <!-- Price -->
  <section class="pt-120 pb-120" style="background-image: url(assets/img/media/pricing_bg.png)">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <!-- Section Title -->
                  <div class="section-title text-center">
                      <h2>Our Pricing Plan</h2>
                      <p>It takes more than a private internet browser to go incognito. We’ll make <br />
                          your real IP address disappear so that your.</p>
                  </div>
                  <!-- End Section Title -->
              </div>
          </div>

          <div class="row justify-content-center mb-3">
              <div class="col-xl-4 col-md-6">
                  <!-- Price -->
                  <div class="price-box">
                      <div class="price-head">
                          <p>Monthly Plan</p>
                          <div class="price">
                              <span class="currency">$</span>
                              <span class="value">6.99</span>
                              <span class="duration">/mo</span>
                          </div>
                      </div>
                      <div class="price-body">
                          <div class="price-body-top-content">
                              <p class="billed">Billed $6.99 monthly</p>
                              <p class="save">Save 42%</p>
                          </div>

                          <ul>
                              <li>Get start risk-free with our 30-day</li>
                              <li>Money-Back Guarantee.</li>
                          </ul>
                      </div>
                      <a href="price.html" class="btn btn-default">Start Now <img src="assets/img/icons/btn-svg.svg" alt="" class="svg"></a>
                  </div>
                  <!-- End Price -->
              </div>
              <div class="col-xl-4 col-md-6">
                  <!-- Price -->
                  <div class="price-box active">
                      <div class="ribbon-wrap">
                          <h4 class="ribbon">recommend</h4>
                      </div>
                      <div class="price-head">
                          <p>Yearly Plan</p>
                          <div class="price">
                              <span class="currency">$</span>
                              <span class="value">69.99</span>
                              <span class="duration">/yrs</span>
                          </div>
                      </div>
                      <div class="price-body">
                          <div class="price-body-top-content">
                              <p class="billed">Billed $69.99 yearly</p>
                              <p class="save">Save 50%</p>
                          </div>

                          <ul>
                              <li>Get start risk-free with our 30-day</li>
                              <li>Money-Back Guarantee.</li>
                          </ul>
                      </div>
                      <a href="price.html" class="btn btn-default">Start Now <img src="assets/img/icons/btn-svg.svg" alt="" class="svg"></a>
                  </div>
                  <!-- End Price -->
              </div>
              <div class="col-xl-4 col-md-6">
                  <!-- Price -->
                  <div class="price-box">
                      <div class="price-head">
                          <p>Daily Plan</p>
                          <div class="price">
                              <span class="currency">$</span>
                              <span class="value">0.99</span>
                              <span class="duration">/day</span>
                          </div>
                      </div>
                      <div class="price-body">
                          <div class="price-body-top-content">
                              <p class="billed">Billed $0.99 monthly</p>
                              <p class="save">Save 20%</p>
                          </div>

                          <ul>
                              <li>Get start risk-free with our 30-day</li>
                              <li>Money-Back Guarantee.</li>
                          </ul>
                      </div>
                      <a href="price.html" class="btn btn-default">Start Now <img src="assets/img/icons/btn-svg.svg" alt="" class="svg"></a>
                  </div>
                  <!-- End Price -->
              </div>
          </div>

          <div class="row justify-content-center mt-n1">
              <div class="col-lg-8">
                  <!-- Payment Info -->
                  <div class="payment-info text-center mt-n1">
                      <p>Get started risk-free with our 30-Day All Product Money-Back Guarantee. <br />
                          We are accept to all payment getway.</p>
                  </div>
                  <!-- End Payment Info -->
              </div>
          </div>
      </div>
  </section>
  <!-- End Price -->

  <!-- Private Network -->
  <section class="private-network section-bg pt-120 pb-120" style="background-image: url(assets/img/media/private_network_bg.png)">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <!-- Section Title -->
                  <div class="section-title text-center">
                      <h2>Private Network</h2>
                      <p>It takes more than a private internet browser to go incognito. We’ll make <br />
                          your real IP address disappear so that your.</p>
                  </div>
                  <!-- End Section Title -->
              </div>
          </div>

          <div class="row justify-content-between">
              <div class="col-lg-5">
                  <ul class="nav private-network-nav" role="tablist">
                      <li class="nav-item">
                          <a data-toggle="tab" href="#questions" role="tab">
                              <h5><img src="assets/img/icons/question.svg" class="svg" alt="">Frequently Asked Questions</h5>
                              <p>Secured access all the content you love. Hide your real
                                  don’t log what you view online.</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="active" data-toggle="tab" href="#layout" role="tab">
                              <h5><img src="assets/img/icons/global.svg" class="svg" alt="">Global Layouts.</h5>
                              <p>Secured access all the content you love. Hide your real
                                  don’t log what you view online.</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a data-toggle="tab" href="#vpn" role="tab">
                              <h5><img src="assets/img/icons/key.svg" class="svg" alt="">Access to world’s fastest VPN</h5>
                              <p>Secured access all the content you love. Hide your real
                                  don’t log what you view online.</p>
                          </a>
                      </li>
                  </ul>
              </div>
              <div class="col-lg-6">
                  <div class="tab-content">
                      <div class="tab-pane fade" id="questions" role="tabpanel">
                          <div class="private-network-content">
                              <!-- Accordion -->
                              <div class="accordion">
                                  <div data-accordion-tab="toggle" class="active">
                                      <h3>How to get started?</h3>
                                      <div class="accordion-content">
                                          Your real IP address disappear so that your online activity can’t be tracke
                                          Our strict zero log policy keeps your identity under wrap. order preserve
                                          your privacy, we’ll never record your activity.
                                      </div>
                                  </div>
                                  <div data-accordion-tab="toggle">
                                      <h3>How to watch Netflix with Biottendance?</h3>
                                      <div class="accordion-content">
                                          Your real IP address disappear so that your online activity can’t be tracke
                                          Our strict zero log policy keeps your identity under wrap. order preserve
                                          your privacy, we’ll never record your activity.
                                      </div>
                                  </div>
                                  <div data-accordion-tab="toggle">
                                      <h3>Asus router tutorial running AsusWRT firmware</h3>
                                      <div class="accordion-content">
                                          Your real IP address disappear so that your online activity can’t be tracke
                                          Our strict zero log policy keeps your identity under wrap. order preserve
                                          your privacy, we’ll never record your activity.
                                      </div>
                                  </div>
                                  <div data-accordion-tab="toggle">
                                      <h3>How to set up Surfshark smart DNS for Apple TV</h3>
                                      <div class="accordion-content">
                                          Your real IP address disappear so that your online activity can’t be tracke
                                          Our strict zero log policy keeps your identity under wrap. order preserve
                                          your privacy, we’ll never record your activity.
                                      </div>
                                  </div>
                              </div>
                              <!-- End Accordion -->
                          </div>
                      </div>
                      <div class="tab-pane fade show active" id="layout" role="tabpanel">
                          <div class="private-network-content">
                              <h3>Global Layouts</h3>

                              <p>Enjoy everything good that the internet has offers worry-free Get instant
                                  secured access to all the content you love. Hide your real IP address and
                                  encrypt youri web traffic with military-grade encryption to stay safe from
                                  we don’t log what you view online.</p>

                              <p>Encrypt your web traffic with military-grade encryption to stay safe from
                                  we don’t log what you view online.</p>

                              <div class="images">
                                  <img src="assets/img/media/flag1.png" data-rjs="2" alt="">
                                  <img src="assets/img/media/flag2.png" data-rjs="2" alt="">
                                  <img src="assets/img/media/flag3.png" data-rjs="2" alt="">
                                  <img src="assets/img/media/flag4.png" data-rjs="2" alt="">
                                  <img src="assets/img/media/flag5.png" data-rjs="2" alt="">
                                  <img src="assets/img/media/flag6.png" data-rjs="2" alt="">
                              </div>

                              <a href="feature-details.html" class="btn btn-default orange">Read More <img src="assets/img/icons/btn-svg.svg" alt="" class="svg"></a>
                          </div>
                      </div>
                      <div class="tab-pane fade" id="vpn" role="tabpanel">
                          <div class="private-network-content">
                              <h3>Access to world’s fastest VPN</h3>

                              <p>Enjoy everything good that the internet has offers worry-free Get instant
                                  secured access to all the content you love. Hide your real IP address and
                                  encrypt youri web traffic with military-grade encryption to stay safe from
                                  we don’t log what you view online.</p>

                              <p>Encrypt your web traffic with military-grade encryption to stay safe from
                                  we don’t log what you view online.</p>

                              <div class="images">
                                  <img src="assets/img/media/flag1.png" data-rjs="2" alt="">
                                  <img src="assets/img/media/flag2.png" data-rjs="2" alt="">
                                  <img src="assets/img/media/flag3.png" data-rjs="2" alt="">
                                  <img src="assets/img/media/flag4.png" data-rjs="2" alt="">
                                  <img src="assets/img/media/flag5.png" data-rjs="2" alt="">
                                  <img src="assets/img/media/flag6.png" data-rjs="2" alt="">
                              </div>

                              <a href="price.html" class="btn btn-default orange">Get Biottendance <img src="assets/img/icons/btn-svg.svg" alt="" class="svg"></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- End Private Network -->

  <!-- Call To Action -->
  <section class="cta" style="background-image:url(assets/img/media/cta-bg.png)">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8">
                  <!-- Cta Content -->
                  <div class="cta-content text-center text-white">
                      <h2>Ready to get Biottendance?</h2>
                      <div class="cta-socials">
                          <h5>Available on:</h5>
                          <a href="#"><img src="assets/img/icons/apple.svg" alt="" class="svg"></a>
                          <a href="#"><img src="assets/img/icons/android.svg" alt="" class="svg"></a>
                          <a href="#"><img src="assets/img/icons/safari.svg" alt="" class="svg"></a>
                          <a href="#"><img src="assets/img/icons/windows.svg" alt="" class="svg"></a>
                          <a href="#"><img src="assets/img/icons/chrome.svg" alt="" class="svg"></a>
                      </div>
                      <a href="price.html" class="btn btn-default orange">Get Started Now <img src="assets/img/icons/btn-svg.svg" alt="" class="svg"></a>
                  </div>
                  <!-- End Cta Content -->
              </div>
          </div>
      </div>
  </section>
  <!-- End Call To Action -->

  <!-- Testimonial -->
  <section class="testimonial pt-120 pb-120" style="background-image:url(assets/img/media/testimonial_bg.png)">
      <div class="container">
          <div class="row align-items-center justify-content-between">
              <div class="col-lg-4">
                  <div class="testimonial-left-content">
                      <!-- Section Title -->
                      <div class="section-title style--two">
                          <h4>Testimonials</h4>
                          <h2>What clients say</h2>
                          <p>It takes more than a private internet browser it incognito. We’ll make real IP address disappear online activity can’t be tracked.</p>
                      </div>
                      <!-- End Section Title -->

                      <a href="about.html" class="btn orange">Learn More <img src="assets/img/icons/btn-svg.svg" alt="" class="svg"></a>
                  </div>
              </div>

              <div class="col-lg-6">
                  <div class="testimonial-slider-wrap">
                      <img src="assets/img/media/testimonial-slider-bg.png" data-rjs="2" alt="">
                      <!-- Testimonial Slider -->
                      <div class="testimonial-slider owl-carousel" data-owl-nav="true" data-owl-autoplay="false">
                          <!-- Single Testimonial Slide -->
                          <div class="single-testimonial-slide">
                              <p>Pro VPN proprietary Hydra protocol deliver some the best download speeds we've seen even from the most distant locations</p>

                              <div class="meta-info">
                                  <div class="img">
                                      <img src="assets/img/media/client1.png" data-rjs="2" alt="">
                                  </div>
                                  <div class="content">
                                      <h5>Bobby Lee</h5>
                                      <p>TechRadar@CEO</p>
                                  </div>
                              </div>
                          </div>
                          <!-- End Single Testimonial Slide -->

                          <!-- Single Testimonial Slide -->
                          <div class="single-testimonial-slide">
                              <p>Pro VPN proprietary Hydra protocol deliver some the best download speeds we've seen even from the most distant locations</p>

                              <div class="meta-info">
                                  <div class="img">
                                      <img src="assets/img/media/client2.png" data-rjs="2" alt="">
                                  </div>
                                  <div class="content">
                                      <h5>Bobby Lee</h5>
                                      <p>TechRadar@CEO</p>
                                  </div>
                              </div>
                          </div>
                          <!-- End Single Testimonial Slide -->

                          <!-- Single Testimonial Slide -->
                          <div class="single-testimonial-slide">
                              <p>Pro VPN proprietary Hydra protocol deliver some the best download speeds we've seen even from the most distant locations</p>

                              <div class="meta-info">
                                  <div class="img">
                                      <img src="assets/img/media/client3.png" data-rjs="2" alt="">
                                  </div>
                                  <div class="content">
                                      <h5>Bobby Lee</h5>
                                      <p>TechRadar@CEO</p>
                                  </div>
                              </div>
                          </div>
                          <!-- End Single Testimonial Slide -->
                      </div>
                      <!-- End Testimonial Slider -->
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- End Testimonial -->


